.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(238, 242, 246);
}

.containerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardContent {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
